<div id="footer" class="row">
	<div class="large-10 columns">
		<div id="slogan" class="row">
			<span>Un <strong>service</strong> du <strong>Département</strong></span>
		</div>
		<div class="row">
			<div class="large-12 small-12 columns">
				<nav>
					<ul>
						<li>
							<a href="a-propos.html">A propos</a>
						</li>
						<li>
							<a href="mentions-legales.html">Mention légales</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
						<li>
							<a href="utiliser-les-photos.html">Utiliser les photos</a>
						</li>
						<li>
							<a href="loire-atlantique-opendata.html">Loire-Atlantique open data</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="large-2 show-for-medium-up columns">
		<img src="assets/images/cg44.png" />
	</div>
</div>
