<div class="row">
	<div class="large-1 columns" id="social-buttons-container"></div>
</div>
<div id="footer" class="row">
	<div class="large-11 small-10 columns">
		<div id="slogan" class="row">
			<span><img src="assets/images/service.png" alt="Un service du Département" /></span>
		</div>
		<div class="row" id="footer-navigation">
			<div class="large-12 small-12 columns">
				<nav>
					<ul>
						<li class="overlay">
							<a href="a-propos.html">À propos</a>
						</li>
						<li class="overlay">
							<a href="mentions-legales.html">Mention légales</a>
						</li>
						<li class="overlay">
							<a href="contact.html">Contact</a>
						</li>
						<li class="overlay">
							<a href="utiliser-les-photos.html">Utiliser les photos</a>
						</li>
						<li id="link-concours">
							<a href="http://www.facebook.com/Loireatlantique">Jeu concours Facebook : des vols en montgolfière à gagner !</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="large-1 small-2 columns" id="cg-logo">
		<a href="http://www.loire-atlantique.fr" title="Consulter loire-atlantique.fr">
			<img src="assets/images/cg44.png" />
		</a>
	</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40698830-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</div>
