<div class="row">
	<div class="large-1 columns" id="social-buttons-container"></div>
</div>
<div id="footer" class="row">
	<div class="large-11 small-10 columns">
		<div class="row" id="footer-navigation">
			<div class="large-6 small-9 columns">
				<nav>
					<ul>
						<li class="overlay">
							<a href="a-propos.html">À propos</a>
						</li>
						<li class="overlay">
							<a href="mentions-legales.html">Mention légales</a>
						</li>
						<li class="overlay">
							<a href="contact.html">Contact</a>
						</li>
						<li class="overlay">
							<a href="utiliser-les-photos.html">Utiliser les photos</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="large-4 small-3 columns" id="followus">
				<ul class="inline-list">
					<li id="followus-text">Suivez-nous</li>
					<li><a href="https://www.facebook.com/loireatlantique" title="Facebook du Département de Loire-Atlantique"><i class="sprite-facebook-black"></i></a></li>
					<li><a href="https://twitter.com/loireatlantique" title="Twitter du Département de Loire-Atlantique"><i class="sprite-twitter-black"></i></a></li>
					<li><a href="http://loire-atlantique.tv" title="Youtube du Département de Loire-Atlantique"><i class="sprite-youtube"></i></a></li>
				</ul>
			</div>
			<div class="large-2 small-0 columns" id="slogan">
				<img src="assets/images/service-dev.png" alt="Un service du Département" />
			</div>
		</div>
	</div>
	<div class="large-1 small-2 columns" id="cg-logo">
		<a href="http://www.loire-atlantique.fr" title="Consulter le site loire-atlantique.fr">
			<img src="assets/images/cg44.png" alt="CG44" />
		</a>
	</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46270573-1', 'loire-atlantique.fr');
  ga('send', 'pageview');
</script>

</div>
