<div id="header" class="row">
	<div class="large-12 columns" id="header-bar">
		<a href="http://www.loire-atlantique.fr" title="Consulter le site loire-atlantique.fr"><img id="logo" src="assets/images/dep.png" alt="Consulter le site loire-atlantique.fr" /></a>
	</div>
	<div class="large-12 columns" id="header-logo">
		<a href="index.html" title="Retour à l'accueil du site vuduciel.loire-atlantique.fr"><img id="logo" src="assets/images/logo.png" alt="Retour à l'accueil du site vuduciel.loire-atlantique.fr" /></a>
	</div>
</div>
