<div id="search" class="row">
	<form id="search-address">
		<div id="search-label" class="large-2 columns show-for-medium-up">
			<img src="assets/images/drapeau.png" />
			<label for="search-input">Rechercher par adresse</label>
		</div>
		<div class="large-7 small-9 columns">
			<div id="zero-results" class="icon-exclamation-sign"></div>
			<input type="text" placeholder="exemple: 3 quai Ceineray, Nantes" name="search" id="search-input"/>
			<ul id="choice-list" class="f-dropdown medium">
			</ul>
		</div>
		<div class="large-3 small-3 columns">
			<button id="search-button" type="submit" class="small button"><i class="icon-caret-right"></i> Rechercher</button>
		</div>
	</form>
</div>
