<div id="search" class="row">
	<form id="search-address">
		<div id="search-label" class="large-3 columns show-for-medium-up">
			<img src="assets/images/drapeau.png" />
			<label>Recherche par adresse ou par mot-clé</label>
		</div>
		<div class="large-6 small-9 columns">
			<input type="text" placeholder="exemple: 3 quai Ceineray, Nantes" name="search" id="search-input" />
		</div>
		<div class="large-3 small-3 columns">
			<input type="submit" class="small button" value="Rechercher" />
		</div>
	</form>
</div>
