.row{max-width:100%;}
#header{padding-top:0.5em;}
.tagline{font-size:1.2em;font-weight:bold;margin-bottom:0.2em;}
#search{background-color:#b1ca00;padding-top:1em;}#search .search-label{display:inline;font-weight:bold;}
.map-body{margin:0;padding:0;position:static;}
.map-full{position:absolute;top:12.7em;bottom:5em;width:100%;}
.map-pane{position:absolute;top:100px;bottom:0;width:50%;}
#map-l{left:0;}
#map-r{right:0;}
.map-body #footer{position:absolute;bottom:0;}
#footer #slogan{text-align:right;border-top:0.2em solid #b1ca00;padding-right:0;}#footer #slogan span{background-color:#b1ca00;padding:0 1em;margin-right:-0.05em;}
#footer nav ul{margin-bottom:0;font-size:80%;}#footer nav ul li{display:inline;padding:0 2em;border-right:1px solid grey;}#footer nav ul li a{color:black;font-weight:bold;}
#footer nav ul li:last-child{border-right:0;}
@media only screen and (max-width:48em){.map-full{top:14.7em;}}
