*[class^='sprite-']{background-image:url('../images/sprite.png');display:inline-block;vertical-align:bottom}
.sprite-carte{background-position:0 0;width:32px;height:23px}
.sprite-code{background-position:0 -73px;width:26px;height:25px}
.sprite-facebook{background-position:0 -148px;width:26px;height:26px}
.sprite-fullscreen{background-position:0 -224px;width:29px;height:20px}
.sprite-google-plus{background-position:0 -294px;width:26px;height:25px}
.sprite-menu{background-position:0 -369px;width:31px;height:29px}
.sprite-print{background-position:0 -448px;width:24px;height:20px}
.sprite-question{background-position:0 -518px;width:19px;height:18px}
.sprite-twitter{background-position:0 -586px;width:26px;height:26px}
.sprite-zoom-in{background-position:0 -662px;width:26px;height:26px}
.sprite-zoom-out{background-position:0 -738px;width:26px;height:27px}
.sprite-zposition{background-position:0 -815px;width:25px;height:24px}
.sprite-zrss{background-position:0 -889px;width:20px;height:19px}
.sprite-download{background-position:0 -958px;width:35px;height:27px}
.row{max-width:100%}
.reveal-modal{z-index:1000}
.tooltip{z-index:10000;color:#000;background-color:#fff}
#header{padding-top:.5em}#header #logo{margin-top:.2em}
#header .tagline{font-size:1.2em;margin-bottom:.2em}
#search{background-color:#b1ca00;position:relative}#search form{margin-top:.3em}
#search input[type="text"]{margin:0}
#search #search-label label{color:#222;font-weight:bold;margin:0 .5em}
#search #search-label img{float:left}
#search #search-input{font-weight:bold;border:none}
#search #zero-results{position:absolute;top:.5em;right:1.5em;color:#f00;display:none}
#search .show-choices{top:auto}
#search #search-button{background-color:#000;border:0;margin-left:5px;margin-bottom:0;width:40px;z-index:0;-webkit-box-shadow:none;box-shadow:none}
#search #search-address.search-no-result #zero-results{display:block}
#search #search-address.search-no-result #search-input{color:#f00}
#search #compare-with{font-size:.875em;font-weight:bold;margin-top:0;padding-top:15px}#search #compare-with input{position:relative;top:2px}
#search #compare-with label{font-size:90%;color:#fff;cursor:pointer;display:inline;font-weight:bold;margin-bottom:0}
#search #compare-with .label-white{background-color:#fff;border:1px solid #000;padding:.2em .5em}#search #compare-with .label-white:after{width:0;display:inline-block;height:8px;border:1px solid #000;position:relative;top:15px;left:-1em;content:""}
#search #compare-with .label-black{background-color:#000;color:#fff;border:1px solid #000;padding:.2em;margin-right:2em}#search #compare-with .label-black:after{width:0;display:inline-block;height:9px;border:1px solid #000;position:relative;top:15px;left:-1.6em;content:""}
#search #compare-with .label-black:last-child label{padding-right:.5em}
.map-body{margin:0;padding:0;position:static}
.map-full{position:absolute;top:10.3em;bottom:5em;width:100%}
.map-hidden{display:none}
.map-right{z-index:1;position:absolute;top:10.3em;bottom:5em;right:-50%;width:100%;border-left:1px solid #fff}.map-right .leaflet-control-attribution{display:none}
.compare-mode{overflow:hidden}.compare-mode .leaflet-control-minimap,.compare-mode .leaflet-control-fullscreen{display:none}
.leaflet-bottom.leaflet-left{max-width:100%;width:100%;background:#000}.leaflet-bottom.leaflet-left .leaflet-control{line-height:2.2em}
.leaflet-bottom.leaflet-left .leaflet-control,.leaflet-bottom.leaflet-left .leaflet-social-control{float:left;clear:none;margin-bottom:.2em}
.leaflet-bottom.leaflet-left .leaflet-bar-part{background:transparent;border:0}
.leaflet-bottom.leaflet-left .leaflet-control-embed a,.leaflet-bottom.leaflet-left .leaflet-social-control a,.leaflet-bottom.leaflet-left .leaflet-print-control a{margin:0}
.leaflet-bottom.leaflet-left .leaflet-social-control a.leaflet-social-control-facebook{padding:0 .2em}
.leaflet-bottom.leaflet-left .leaflet-control-embed,.leaflet-bottom.leaflet-left .leaflet-print-control{margin:0}
.leaflet-bottom.leaflet-left .leaflet-screenshot-control{vertical-align:middle}
.leaflet-control-actionlink{background:#fff;position:relative;top:.3em;padding:0 1em}.leaflet-control-actionlink a{color:#000}
.leaflet-control-actionlink span{vertical-align:middle;margin-left:4px}
.leaflet-top.leaflet-left .leaflet-bar-part,.leaflet-top.leaflet-left .leaflet-control-layers{background-color:#000;border-bottom:0}
.leaflet-top.leaflet-left .leaflet-control-zoom.leaflet-bar,.leaflet-top.leaflet-left .leaflet-control-layers{margin-top:0}
.leaflet-top.leaflet-left .leaflet-locate-control,.leaflet-top.leaflet-left .leaflet-control-fullscreen,.leaflet-top.leaflet-left .leaflet-control-zoom-in,.leaflet-top.leaflet-left .leaflet-control-zoom-out{padding:5px;width:38px;height:34px;border-bottom:1px #fff dotted}
.leaflet-top.leaflet-left .leaflet-control-layers{padding:3px}.leaflet-top.leaflet-left .leaflet-control-layers a{width:32px;height:26px}
.leaflet-top.leaflet-left .leaflet-control-layers .leaflet-control-layers-overlays label{color:#fff}
.leaflet-top.leaflet-left .leaflet-fullscreen{z-index:1}
.leaflet-top.leaflet-left .leaflet-control-layers-toggle{background-image:url('../images/sprite.png');background-position:0 0;width:32px;height:23px}
.leaflet-bar,.leaflet-bar-part-top,.leaflet-control-layers,.leaflet-bar-part-bottom,.leaflet-bar-part{box-shadow:0;border:0;-webkit-border-radius:0;border-radius:0}
.leaflet-touch .leaflet-bar,.leaflet-touch .leaflet-bar-part-top,.leaflet-touch .leaflet-control-layers,.leaflet-touch .leaflet-bar-part-bottom,.leaflet-touch .leaflet-bar-part{box-shadow:0;border:0;-webkit-border-radius:0;border-radius:0}
.leaflet-control-embed a,.leaflet-social-control a,.leaflet-print-control a{margin:0 .5em;padding:0 .2em;font-size:200%;color:#000}
.leaflet-social-control a.leaflet-social-control-facebook{padding:0 .4em}
.leaflet-left .leaflet-control{margin-left:12px}
.leaflet-bottom.leaflet-right{max-width:100%;width:100%;bottom:3.6em}.leaflet-bottom.leaflet-right .leaflet-control{float:right;clear:none;margin:1.5em 0 .2em 1em}.leaflet-bottom.leaflet-right .leaflet-control span{margin-left:.5em}
.leaflet-bottom.leaflet-right .leaflet-control-scale{float:left;margin-top:1.5em}
.show-infos{top:auto}
.map-pane{position:absolute;top:100px;bottom:0;width:50%}
#overlay{display:none;z-index:5000;position:fixed;top:0;left:0;width:100%;height:100%;background-color:#fff}
.leaflet-control-minimap{border:solid #000 2px;box-shadow:0 1px 7px #999;background:#f8f8f9}
.leaflet-control-minimap a{background-color:rgba(255,255,255,0.75);background-position:1px 2px;background-repeat:no-repeat;display:block;outline:none;z-index:99999}
.leaflet-control-minimap a.minimized{background-position:1px -18px}
.leaflet-control-minimap-toggle-display{background-image:url("images/toggle.png");border-radius:4px 4px 4px 4px;height:19px;width:19px;position:absolute;bottom:0;right:0}
.map-body #footer{position:absolute;bottom:0}
#footer{z-index:-1;height:3.5em}#footer #cg-logo{padding-right:0;text-align:right}
#footer #slogan{text-align:right;border-top:.2em solid #b1ca00;padding-right:0}#footer #slogan span{background-color:#b1ca00;padding:0;margin-right:-0.05em}
#footer #footer-navigation{position:relative;top:-0.5em}#footer #footer-navigation nav ul{margin-bottom:0;font-size:80%;font-family:Verdana,Geneva,sans-serif}#footer #footer-navigation nav ul li{display:inline;padding:0 1em;border-right:1px solid #808080}#footer #footer-navigation nav ul li a{color:#000;font-weight:bold;font-size:.9em}
#footer #footer-navigation nav ul li:last-child{border-right:0}
.secondary-page #wrapper{font-size:80%}
#secondary-page-zone{font-size:75%}#secondary-page-zone h1{font-size:1.5em}
#secondary-page-zone h2{font-size:1.3em}
@media only screen and (max-width:54em){.leaflet-control-minimap{display:none} #footer #slogan img{max-width:33%} #footer #footer-navigation{top:0}}@media only screen and (max-width:62em){#search-container,.compare-with-container{width:100%} .map-full,.map-right{top:13.3em}}@media only screen and (max-width:40em){#search #compare-with .label-black{margin-right:.2em}}.screamshot .tagline{display:none}
.screamshot #search{display:none}
.screamshot #footer-navigation{display:none}
.screamshot .map-full{top:5em}
.screamshot .leaflet-control{display:none}
.screamshot .leaflet-control-scale{display:block}
@-moz-document url-prefix(){#search #compare-with .label-white:after{height:7px}}
