/* SPRITE */
*[class^='sprite-'] {
  background-image: url('../images/sprite.png');
  display: inline-block;
  vertical-align: bottom;
}
.sprite-carte {
  background-position: 0 0;
  width: 32px;
  height: 23px;
}
.sprite-code {
  background-position: 0 -73px;
  width: 36px;
  height: 25px;
}
.sprite-facebook {
  background-position: 0 -148px;
  width: 36px;
  height: 25px;
}
.sprite-fullscreen {
  background-position: 0 -224px;
  width: 29px;
  height: 20px;
}
.sprite-google-plus {
  background-position: 0 -294px;
  width: 36px;
  height: 25px;
}
.sprite-menu {
  background-position: 0 -369px;
  width: 31px;
  height: 29px;
}
.sprite-print {
  background-position: 0 -448px;
  width: 24px;
  height: 20px;
}
.sprite-question {
  background-position: 0 -518px;
  width: 19px;
  height: 18px;
}
.sprite-twitter {
  background-position: 0 -586px;
  width: 36px;
  height: 25px;
}
.sprite-zoom-in {
  background-position: 0 -662px;
  width: 26px;
  height: 26px;
}
.sprite-zoom-out {
  background-position: 0 -738px;
  width: 26px;
  height: 27px;
}
.sprite-zposition {
  background-position: 0 -815px;
  width: 25px;
  height: 24px;
}
.sprite-zrss {
  background-position: 0px -882px;
  background-repeat: no-repeat;
  padding-left: 22px;
}
.sprite-download {
  background-position: -5px -958px;
  background-repeat: no-repeat;
  padding-left: 27px;
}
.sprite-mail {
  background-position: 0 -1035px;
  width: 25px;
  height: 25px;
}
.sprite-rss {
  background-position: 0 -1111px;
  width: 25px;
  height: 25px;
}
.sprite-facebook-black {
  background-position: 0 -1187px;
  width: 25px;
  height: 25px;
}
.sprite-twitter-black {
  background-position: 0 -1263px;
  width: 25px;
  height: 25px;
}
.sprite-youtube {
  background-position: 0 -1339px;
  width: 25px;
  height: 25px;
}
/* CUSTOM MIXINS */
/* FIX FOUNDATION */
.row {
  max-width: 100%;
}
.reveal-modal {
  z-index: 1000;
}
.tooltip {
  z-index: 10000;
  color: black;
  background-color: white;
}
/* HEADER */
#header #header-bar {
  background-color: #eaeaea;
  height: 1.2em;
  box-shadow: 0 3px 2px #d1d1d1;
}
#header #header-bar #header-bar-text {
  color: white;
  padding: 0.5em;
  background-color: black;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
}
#header #header-logo {
  margin-top: 1.8em;
  margin-bottom: 1em;
}
#search {
  background-color: #b1ca00;
  position: relative;
}
#search #search-container {
  border-right: 1px dotted black;
}
#search #search-container #search-address {
  height: 39px;
}
#search form {
  margin-top: 0.3em;
}
#search input[type="text"] {
  margin: 0;
}
#search #search-label label {
  color: #222;
  font-weight: bold;
  margin: 0 0.5em;
}
#search #search-label img {
  float: left;
}
#search #search-input {
  font-weight: bold;
  border: none;
}
#search #zero-results {
  position: absolute;
  top: 0.5em;
  right: 1.5em;
  color: red;
  display: none;
}
#search .show-choices {
  top: auto;
}
#search #search-button {
  background-color: black;
  border: 0;
  margin-left: 5px;
  margin-bottom: 0;
  width: 40px;
  z-index: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#search #search-address.search-no-result #zero-results {
  display: block;
}
#search #search-address.search-no-result #search-input {
  color: red;
}
#search #compare-with {
  font-size: 0.875em;
  font-weight: bold;
  margin-top: 0;
  padding-top: 15px;
}
#search #compare-with input {
  position: relative;
  top: 2px;
}
#search #compare-with label {
  font-size: 90%;
  color: white;
  cursor: pointer;
  display: inline;
  font-weight: bold;
  margin-bottom: 0;
}
#search #compare-with .label-white {
  background-color: white;
  border: 1px solid black;
  padding: 0.2em 0.5em;
}
#search #compare-with .label-white:after {
  width: 0;
  display: inline-block;
  height: 8px;
  border: 1px solid black;
  position: relative;
  top: 15px;
  left: -1em;
  content: "";
}
#search #compare-with .label-black {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 0.2em;
  margin-right: 1.5em;
}
#search #compare-with .label-black:after {
  width: 0;
  display: inline-block;
  height: 9px;
  border: 1px solid black;
  position: relative;
  top: 15px;
  left: -1.6em;
  content: "";
}
#search #compare-with .label-black:last-child label {
  padding-right: 0.5em;
}
/* MAP */
.map-body {
  margin: 0;
  padding: 0;
  position: static;
}
.map-full {
  position: absolute;
  top: 12.7em;
  bottom: 8em;
  width: 100%;
}
.map-hidden {
  display: none;
}
.map-right {
  z-index: 2;
  position: absolute;
  top: 12.7em;
  bottom: 8em;
  right: -50%;
  width: 100%;
  border-left: 1px solid white;
}
.map-right .leaflet-control-attribution {
  display: none;
}
.compare-mode {
  overflow: hidden;
}
.compare-mode .leaflet-control-minimap {
  display: none;
}
.map-full.leaflet-fullscreen .leaflet-bottom,
.map-full.leaflet-fullscreen .leaflet-right {
  display: none;
}
.leaflet-bottom.leaflet-left {
  max-width: 100%;
  width: 100%;
  background: black;
}
.leaflet-bottom.leaflet-left .leaflet-control {
  line-height: 2.2em;
}
.leaflet-bottom.leaflet-left .leaflet-control i {
  border-right: 1px dotted white;
}
.leaflet-bottom.leaflet-left .leaflet-control,
.leaflet-bottom.leaflet-left .leaflet-social-control {
  float: left;
  clear: none;
  margin-bottom: 0.2em;
}
.leaflet-bottom.leaflet-left .leaflet-bar-part {
  background: transparent;
  border: 0;
}
.leaflet-bottom.leaflet-left .leaflet-control-embed a,
.leaflet-bottom.leaflet-left .leaflet-social-control a,
.leaflet-bottom.leaflet-left .leaflet-print-control a {
  margin: 0;
}
.leaflet-bottom.leaflet-left .leaflet-social-control a.leaflet-social-control-facebook {
  padding: 0 0.2em;
}
.leaflet-bottom.leaflet-left .leaflet-control-embed,
.leaflet-bottom.leaflet-left .leaflet-print-control {
  margin: 0;
}
.leaflet-bottom.leaflet-left .leaflet-screenshot-control {
  vertical-align: middle;
}
.leaflet-control-actionlink {
  background: white;
  position: relative;
  top: 0.3em;
  padding: 0 1em;
}
.leaflet-control-actionlink a {
  color: black;
}
.leaflet-control-actionlink span {
  vertical-align: middle;
  margin-left: 4px;
}
.leaflet-top.leaflet-left .leaflet-bar-part,
.leaflet-top.leaflet-left .leaflet-control-layers {
  background-color: black;
  border-bottom: 0;
}
.leaflet-top.leaflet-left .leaflet-control-zoom {
  padding: 5px;
  background-color: black;
}
.leaflet-top.leaflet-left .leaflet-control-zoom.leaflet-bar,
.leaflet-top.leaflet-left .leaflet-control-layers {
  margin-top: 0;
}
.leaflet-top.leaflet-left .leaflet-locate-control,
.leaflet-top.leaflet-left .leaflet-control-fullscreen,
.leaflet-top.leaflet-left .leaflet-control-zoom-in,
.leaflet-top.leaflet-left .leaflet-control-zoom-out {
  padding: 5px;
  width: 37px;
  height: 36px;
  border-bottom: 1px white dotted;
}
.leaflet-top.leaflet-left .leaflet-control-layers {
  padding: 8px;
}
.leaflet-top.leaflet-left .leaflet-control-layers a {
  width: 31px;
  height: 26px;
}
.leaflet-top.leaflet-left .leaflet-control-layers .leaflet-control-layers-overlays label {
  color: white;
}
.leaflet-top.leaflet-left .leaflet-fullscreen {
  z-index: 1;
}
.leaflet-top.leaflet-left .leaflet-control-layers-toggle {
  background-image: url('../images/sprite.png');
  background-position: 0 0;
  width: 32px;
  height: 23px;
}
.leaflet-bar,
.leaflet-bar-part-top,
.leaflet-control-layers,
.leaflet-bar-part-bottom,
.leaflet-bar-part,
.leaflet-control-zoom {
  box-shadow: 0;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.leaflet-touch .leaflet-bar,
.leaflet-touch .leaflet-bar-part-top,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar-part-bottom,
.leaflet-touch .leaflet-bar-part,
.leaflet-touch .leaflet-control-zoom {
  box-shadow: 0;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.leaflet-control-embed a,
.leaflet-social-control a,
.leaflet-print-control a {
  margin: 0 0.5em;
  padding: 0 0.2em;
  font-size: 200%;
  color: black;
}
.leaflet-social-control a.leaflet-social-control-facebook {
  padding: 0 0.4em;
}
.leaflet-left .leaflet-control {
  margin-left: 12px;
}
.leaflet-bottom.leaflet-right {
  max-width: 100%;
  width: 100%;
  bottom: 3.6em;
}
.leaflet-bottom.leaflet-right .leaflet-control {
  float: right;
  clear: none;
  margin: 1.5em 0 0.2em 1em;
}
.leaflet-bottom.leaflet-right .leaflet-control span {
  margin-left: 0.5em;
}
.leaflet-bottom.leaflet-right .leaflet-control-scale {
  float: left;
  margin-top: 1.5em;
}
.show-infos {
  top: auto;
}
.map-pane {
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 50%;
}
#overlay {
  display: none;
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.leaflet-control-minimap {
  border: solid black 2px;
  box-shadow: 0 1px 7px #999;
  background: #f8f8f9;
}
.leaflet-control-minimap a {
  background-color: rgba(255, 255, 255, 0.75);
  background-position: 1px 2px;
  background-repeat: no-repeat;
  display: block;
  outline: none;
  z-index: 99999;
}
.leaflet-control-minimap a.minimized {
  background-position: 1px -18px;
}
.leaflet-control-minimap-toggle-display {
  background-image: url("images/toggle.png");
  border-radius: 4px 4px 4px 4px;
  height: 19px;
  width: 19px;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* FOOTER */
.map-body #footer {
  position: absolute;
  bottom: 0;
}
#footer {
  z-index: -1;
  background-color: #eaeaea;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#footer #cg-logo {
  padding-right: 0;
  text-align: right;
}
#footer #followus {
  padding: 0;
  font-size: 1em;
  font-weight: bold;
}
#footer #slogan {
  text-align: right;
  padding: 0;
}
#footer #footer-navigation {
  position: relative;
  margin-top: 0.9em;
  padding-bottom: 0.2em;
  border-bottom: 0.4em solid #d1d1d1;
}
#footer #footer-navigation ul.inline-list {
  margin-bottom: 0.2em;
}
#footer #footer-navigation nav ul {
  margin-bottom: 0;
  font-size: 80%;
  font-family: Verdana, Geneva, sans-serif;
}
#footer #footer-navigation nav ul li {
  display: inline-block;
  padding: 0 1em;
  border-right: 1px solid grey;
}
#footer #footer-navigation nav ul li a {
  color: black;
  font-weight: bold;
  font-size: 0.9em;
}
#footer #footer-navigation nav ul li:last-child {
  border-right: 0;
}
/* SECONDARY PAGES */
.secondary-page #wrapper {
  font-size: 80%;
}
#secondary-page-zone {
  font-size: 75%;
}
#secondary-page-zone h1 {
  font-size: 1.5em;
}
#secondary-page-zone h2 {
  font-size: 1.3em;
}
/* RESPONSIVE */
@media only screen and (max-width: 54em) {
  .leaflet-control-minimap {
    display: none;
  }
  #footer #slogan {
    display: none;
  }
  #footer #footer-navigation {
    top: 0;
  }
  #footer #followus #followus-text {
    display: none;
  }
}
@media only screen and (max-width: 67em) {
  #footer {
    font-size: 90%;
  }
}
@media only screen and (max-width: 64em) {
  #search #search-container,
  #search .compare-with-container {
    width: 100%;
    border-right: 0;
  }
  #search #compare-with {
    padding-top: 10px;
  }
  .map-full,
  .map-right {
    top: 13.3em;
  }
  #header #header-bar {
    display: none;
  }
  #header #header-logo {
    margin-top: 1em;
  }
  #footer {
    font-size: 70%;
  }
}
@media only screen and (max-width: 74em) {
  #footer #followus #followus-text {
    display: none;
  }
}
@media only screen and (max-width: 40em) {
  .columns {
    padding-left: 0.4em;
    padding-right: 0.4em;
  }
  #logo {
    width: 320px;
  }
  #header {
    padding-top: 0.5em;
    padding-bottom: 0em;
  }
  #header #header-bar {
    display: none;
  }
  #header #header-logo {
    margin: 0;
  }
  #search {
    font-size: 80%;
  }
  #search #search-container #search-address,
  #search #compare-with {
    margin: 0.3em 0 0 0;
    height: 25px;
    padding: 0;
  }
  #search #compare-with {
    font-size: 10px;
  }
  #search #compare-with .label-black {
    padding: .2em 0;
    border-right: 0;
    border-left: 0;
    margin-right: 0;
  }
  #search #compare-with .label-black:after {
    display: none;
  }
  #search #compare-with .label-white {
    padding: 0.2em;
  }
  #search #compare-with .label-white:after {
    display: none;
  }
  .leaflet-top.leaflet-left .leaflet-control-zoom {
    padding: 0;
  }
  .leaflet-top.leaflet-left .leaflet-control-layers {
    padding: 3px;
  }
  .leaflet-bottom.leaflet-left {
    padding-top: 3px;
  }
  .leaflet-bottom.leaflet-left .leaflet-control-actionlink,
  .leaflet-bottom.leaflet-left .leaflet-print-control {
    display: none;
  }
  .leaflet-bottom.leaflet-left .leaflet-control-embed i {
    border: 0;
    width: 35px;
  }
  .leaflet-right {
    display: none;
  }
  #footer {
    display: none;
  }
  .map-full,
  .map-right {
    bottom: 0;
    top: 97px;
  }
}
/* PRINT */
.screamshot .tagline {
  display: none;
}
.screamshot #search {
  display: none;
}
.screamshot #footer-navigation {
  display: none;
}
.screamshot .map-full,
.screamshot .map-right {
  top: 5em;
}
.screamshot .leaflet-control {
  display: none;
}
.screamshot .leaflet-control-scale {
  display: block;
}
.screamshot .leaflet-bottom.leaflet-right {
  bottom: 0;
}
/* HACKS */
@-moz-document url-prefix() {
  #search #compare-with .label-white:after {
    height: 7px;
  }
}
#concours {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 75%;
  vertical-align: middle;
}
#concours img {
  max-width: 50%;
  max-height: 50%;
}
#link-concours {
  display: none;
}
