<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <link rel="icon" href="favicon.ico"/>
  <meta property="og:image" content="http://vuduciel.loire-atlantique.fr/assets/images/vignettevuduciel.jpg" />
  <meta property="og:title" content="{{ page.description }}" />

  <!-- CSS Files -->
  <link rel="stylesheet" href="assets/css/foundation.min.css" />
  <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/app-dev.css" />


  <!-- Fix leaflet issue with PhantomJS 
  https://github.com/rassie/Leaflet/commit/1c8e0c690163b0e6aa2068dbf10b3745a2b70048
  -->
  <script type="text/javascript">
  var ua = navigator.userAgent.toLowerCase();
  if(ua.indexOf('phantom') !== -1) {
    window.L_DISABLE_3D = true;
  }
  </script>
</head>
  <body class="map-body map-dev">

{% include header-dev.html %}
{% include search-dev.html %}

{{ content }}

{% include footer-dev.html %}

<!-- JS Files -->
  <!-- IE Fixes -->
  <!--[if lt IE 9]>
    <script>
      location.href = "./old-ie.html";
    </script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

<script src="assets/js/44.js"></script>
<script src="assets/js/foundation.js"></script>
<script src="assets/js/map-dev.js"></script>

<script type='text/javascript' src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
<script src="assets/js/Control.MiniMap.js" type="text/javascript"></script>

<div id="snippet" class="reveal-modal">
  <h2>Intégrez VuDuCiel Loire-Atlantique dans votre site web</h2>
  <p class="lead">Copiez le code suivant</p>
  <textarea id="snippet-code"></textarea>
  <textarea id="snippet-template" style="display:none;">
&lt;script&gt;
function cg44_map(zoom, lat, lon) {
var map = L.map(&#39;cg44_map_container&#39;);
map.attributionControl.setPrefix(&#39;Par &lt;a href=&quot;http://www.makina-corpus.com&quot;&gt;Makina Corpus&lt;/a&gt;&#39;);
var ortho2012 = L.tileLayer(&#39;http://{s}.tiles.cg44.makina-corpus.net/ortho-2012/{z}/{x}/{y}.jpg&#39;, {
continuousWorld: true,
tms: true,
maxZoom: 18,
subdomains: &quot;abcdefgh&quot;,
attribution: &quot;Source: D&amp;eacute;partement de Loire-Atlantique&quot;
}).addTo(map);
map.setView([lat, lon], zoom);
}
&lt;/script&gt;
&lt;div id=&quot;cg44_map_container&quot; style=&quot;position:relative; height: 300px;&quot;&gt;&lt;/div&gt;
&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css&quot; /&gt;
&lt;script type=&#39;text/javascript&#39; src=&quot;http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js&quot; onload=&quot;cg44_map(_zoom_, _lat_, _lon_)&quot;&gt;&lt;/script&gt;
  </textarea>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="download-infos" class="reveal-modal">
  <p>Vous pouvez télécharger les photographies aériennes de la Loire-Atlantique par dalles jusqu'à une emprise de 50 km² environ, au format ECW, en projection Lambert93.</p>
  <!--<ul>
    <li>soit par dalles jusqu'à une emprise de 50 km² environ, au format ECW, en projection Lambert93.</li>
    <li>soit en une image unique, en haute résolution, au format JPG.</li>
  </ul>-->
  <p id="download-link"></p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="wms-infos" class="reveal-modal">
  <p>Conformément aux prescriptions de la directive européenne INSPIRE, vous pouvez visualiser les photographies aériennes de la Loire-Atlantique à partir d’un flux WMS.</p><p>Son principal intérêt est de vous permettre d’afficher sur votre poste de travail les images publiées dans Vuduciel et d’y superposer vos propres données.</p>
  <p>Son utilisation nécessite de disposer d’un client WMS tel que Quantum GIS, JUMP, Gv SIG, uDig, ou GAIA pour les SIG open source; Géoconcept, ArcGIS, ou Mapinfo pour les SIG d’éditeurs.</p><p>Après avoir lancé la commande permettant d’ouvrir une couche WMS, le logiciel SIG demande de saisir une adresse WMS.</p>
  <p>Pour le site Vuduciel, elle correspond à l’URL du serveur cartographique http://services.vuduciel.loire-atlantique.fr/geoserver/ows</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="secondary-page-reveal" class="reveal-modal">
  <div id="secondary-page-zone"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- <div id="concours">
  <a href="http://www.facebook.com/Loireatlantique"><img src="assets/images/jeufb-montgolfiere300x250-02.jpg" /></a>
</div> -->
</body>
</html>


