<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ page.title }}</title>

  <!-- CSS Files -->
  <link rel="stylesheet" href="assets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/app.css">


  <!-- Fix leaflet issue with PhantomJS 
  https://github.com/rassie/Leaflet/commit/1c8e0c690163b0e6aa2068dbf10b3745a2b70048
  -->
  <script type="text/javascript">
  var ua = navigator.userAgent.toLowerCase();
  if(ua.indexOf('phantom') !== -1) {
    window.L_DISABLE_3D = true;
  }
  </script>
</head>
	<body class="map-body">

{% include header.html %}
{% include search.html %}

{{ content }}

{% include footer.html %}

<!-- JS Files -->
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<script src="http://cg44.makina-corpus.net/geojson/buffer.js"></script>
<script src="assets/js/foundation.js"></script>
<script src="assets/js/map.js"></script>

<script type='text/javascript' src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
</body>
</html>


